extends ./layout.pug
block contenido
	div(class="col-md-8 remove-float center-block text-center big-top-space")
		h1 Hola Mundo
		a(href="/singup" class="right-space") Registrate
		a(href="/login") Iniciar Sesion 