doctype html
html(lang="es")
    head
        title Provincia en Marcha
        meta(charset="utf-8")
        link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet")
        link(rel="stylesheet" href="/public/css/main.css")
    body
        nav(class="large-padding blue white-text")
            ul
                li
                    a(href="/app") Inicio
                li
                    a(href="/app/imagenes/new") Nueva Imagen
                li
                    a(href="/app/imagenes") Mis Imagenes
        block contenido
