extends ../../layout.pug
block contenido
  div(class="img-container")
    h1= imagen.title
    img(src="/public/imagenes/"+imagen._id+"."+imagen.extension, class="img-main")
    if(typeof imagen.creator != "undefined")
      p= "Creada por "+imagen.creator.email
